# Eclipse specific files
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
.dependency-cache

.project
.classpath

# Compiled class files
*.class

# Log files
*.log

# Package Files #
*.jar
*.war
*.ear
*.nar

# Maven (se utilizar)
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
pom.xml.releaseBackup~
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Gradle (se utilizar)
.gradle/
build/
